<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.mapper.CollegeMapper">
    <resultMap id="gradeMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="GRADE" property="grade"/>
        <result column="CREATED_AT" property="created_at"/>
        <result column="UPDATED_AT" property="updated_at"/>
        <result column="LEAVE" property="leave"/>
    </resultMap>
    <resultMap id="departmentMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="DEPARTMENT" property="department"/>
    </resultMap>
    <resultMap id="specialtyMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="SPECIALTY" property="specialty"/>
        <result column="PARENT_ID" property="parent_id"/>
    </resultMap>
    <resultMap id="teamMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="DEPARTMENT_ID" property="department_id"/>
        <result column="DEPARTMENT" property="department"/>
        <result column="SPECIALTY_ID" property="specialty_id"/>
        <result column="SPECIALTY" property="specialty"/>
        <result column="TEAM_ID" property="team_id"/>
        <result column="NAME" property="name"/>
        <result column="GRADE_ID" property="grade_id"/>
        <result column="TEACHER_ID" property="teacher_id"/>
        <result column="FIRST_NAME" property="first_name"/>
        <result column="GRADE" property="grade"/>
    </resultMap>
    <resultMap id="termMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="TERM" property="term"/>
    </resultMap>
    <insert id="addGrade" parameterType="java.util.Map">
        insert into yuyi_evaluate_grade (grade) values (#{grade})
    </insert>
    <update id="editGrade" parameterType="java.util.Map">
        update yuyi_evaluate_grade set grade = #{grade} where id = #{id}
    </update>
    <select id="gradeList" parameterType="java.util.Map" resultMap="gradeMap">
        select id,grade,created_at,updated_at,leave from yuyi_evaluate_grade t
    </select>
    <delete id="delGrade" parameterType="java.util.Map">
        delete from yuyi_evaluate_grade where id=#{id}
    </delete>
    <select id="departmentList" parameterType="java.util.Map" resultMap="departmentMap">
        select t.id,t.department from yuyi_evaluate_department t
    </select>
    <select id="specialtyList" parameterType="java.util.Map" resultMap="specialtyMap">
        select t.id,t.specialty,t.parent_id from yuyi_evaluate_specialty t where t.parent_id =#{id}
    </select>
    <insert id="addSpecialty" parameterType="java.util.Map">
        insert into yuyi_evaluate_specialty (specialty, parent_id) values (#{specialty},#{specialty})
    </insert>
    <update id="editSpecialty" parameterType="java.util.Map">
        update yuyi_evaluate_specialty set specialty = #{specialty} where id = #{id}
    </update>
    <delete id="delSpecialty" parameterType="java.util.Map">
        delete from yuyi_evaluate_specialty where id=#{id}
    </delete>
    <select id="teamList" parameterType="java.util.Map" resultMap="teamMap">
        select * from (
        select t.*,t3.id team_id,t3.name,t3.grade_id,t3.teacher_id,t4.first_name,t5.grade from (
        select t1.id department_id,
                     t1.department,
                     t2.id specialty_id,
               t2.parent_id specialty_parent_id,
               t2.specialty
                from yuyi_evaluate_department t1,yuyi_evaluate_specialty t2
        where t1.id = t2.parent_id) t,yuyi_evaluate_team t3,yuyi_evaluate_users t4,yuyi_evaluate_grade t5
            where t.specialty_id = t3.specialty_id and t.department_id = t3.department_id
                  and t4.id = t3.teacher_id
                  and t5.id = t3.grade_id) t where t.specialty_id = #{specialty_id} and grade_id =#{grade_id}

    </select>
    <select id="gradeList2" parameterType="java.util.Map" resultMap="teamMap">
        select t.grade_id,t1.grade from yuyi_evaluate_team t,yuyi_evaluate_grade t1 where t.grade_id = t1.id and t.specialty_id = #{specialty_id}
    </select>
    <insert id="addTeam" parameterType="java.util.Map">
        insert into yuyi_evaluate_team (name,department_id, specialty_id, teacher_id, grade_id)
                                values (#{name},#{department_id},#{specialty_id},#{teacher_id},#{grade_id})
    </insert>
    <update id="editTeam" parameterType="java.util.Map">
        update yuyi_evaluate_team set name = #{name},teacher_id=#{teacher_id} where id = #{id}
    </update>
    <delete id="delTeam" parameterType="java.util.Map">
        delete from yuyi_evaluate_team where id=#{id}
    </delete>
    <select id="termList" parameterType="java.util.Map" resultMap="termMap">
          select t.id,t.term from yuyi_evaluate_term t order by  id desc
    </select>
    <insert id="addTerm" parameterType="java.util.Map">
        insert into yuyi_evaluate_term (term)   values (#{term})
    </insert>
    <update id="editTerm" parameterType="java.util.Map">
        update yuyi_evaluate_term set term = #{term}  where id = #{id}
    </update>
    <delete id="delTerm" parameterType="java.util.Map">
        delete from yuyi_evaluate_term where id=#{id}
    </delete>
</mapper>
