<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.mapper.HomeMapper">
    <resultMap id="test" type="java.util.Map">
        <result column="ID" property="id"/>
    </resultMap>
    <resultMap id="mb" type="java.util.Map">
        <result column="SCORE" property="score"/>
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="SUM" property="sum"/>
    </resultMap>
    <select id="sorceList" parameterType="java.util.Map" resultMap="mb">
        select avg(t1.score) sum,t2.criterionId id,t2.name from
        (select id criterionId,t.name from yuyi_evaluate_criterion t where t.parent_id=#{parent_id}) t2 left join
        (select b.score,b.criterion_id from yuyi_evaluate_student a,yuyi_evaluate_score b
                        <where>
                             a.id = b.student_id
                             <if test="kx!=null and kx!=''">
                                and  a.department_id = #{kx}
                             </if>
                             <if test="zy!=null and zy!=''">
                                and  a.specialty_id = #{zy}
                             </if>
                             <if test="bj!=null and bj!=''">
                                and  a.team_id = #{bj}
                             </if>
                             <if test="xs!=null and xs!=''">
                                and  a.id = #{xs}
                             </if>
                             <if test="xq!=null and xq!=''">
                                and  b.term_id = #{xq}
                             </if>
                        </where>) t1
             on t1.criterion_id = t2.criterionId group by name
    </select>
</mapper>