<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.mapper.QuotaMapper">
    <resultMap id="test" type="java.util.Map">
        <result column="ID" property="id"/>
    </resultMap>
    <resultMap id="quotaList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="PARENT_ID" property="parent_id"/>
        <result column="NAME" property="name"/>
        <result column="WEIGHT" property="weight"/>
        <result column="STANDARD" property="standard"/>
        <result column="TYPE" property="type"/>
        <result column="INITIAL" property="initial"/>
    </resultMap>
    <insert id="addQuota" parameterType="java.util.Map">
        insert into yuyi_evaluate_criterion
                     (parent_id,name,standard,initial,type,weight)
                      VALUES
                    (#{parent_id},#{name},#{standard},#{initial},#{type},'0')
    </insert>
    <delete id="delQuota" parameterType="java.util.Map">
        delete FROM yuyi_evaluate_criterion where id=#{id}
    </delete>
    <select id="quotaList" parameterType="java.util.Map" resultMap="quotaList">
        select t.id,t.parent_id,t.name,t.weight,t.standard,t.type,t.initial
                from yuyi_evaluate_criterion t
                where t.parent_id = #{parent_id}
    </select>
    <update id="editWeight" parameterType="java.util.Map">
        update yuyi_evaluate_criterion set weight = #{weight} where id = #{id}
    </update>
    <update id="editQuota" parameterType="java.util.Map">
        update yuyi_evaluate_criterion set standard = #{standard},name=#{name},initial=#{initial},type=#{type} where id = #{id}
    </update>
</mapper>