<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.mapper.StudentMapper">
    <resultMap id="stuMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="IDENTITY" property="identity"/>
        <result column="NAME" property="name"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="MOBILE" property="mobile"/>
        <result column="PARENT" property="parent"/>
        <result column="PARENTMOBILE" property="parentmobile"/>
        <result column="SEX" property="sex"/>
        <result column="TEAM" property="team"/>
        <result column="GRADE" property="grade"/>
        <result column="DEPARTMENT" property="department"/>
        <result column="SPECIALTY" property="specialty"/>
        <result column="GRADE_ID" property="grade_id"/>
        <result column="DEPARTMENT_ID" property="department_id"/>
        <result column="SPECIALTY_ID" property="specialty_id"/>
        <result column="TEAM_ID" property="team_id"/>
        <result column="ORIGIN" property="origin"/>
        <result column="NATION" property="nation"/>
        <result column="CARD" property="card"/>
    </resultMap>
    <resultMap id="socreMap" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="STUDENT_ID" property="student_id"/>
        <result column="TERM_ID" property="term_id"/>
        <result column="CRITERION_ID" property="criterion_id"/>
        <result column="SCORE" property="score"/>
    </resultMap>
    <resultMap id="quotaList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="PARENT_ID" property="parent_id"/>
        <result column="NAME" property="name"/>
        <result column="WEIGHT" property="weight"/>
        <result column="STANDARD" property="standard"/>
        <result column="TYPE" property="type"/>
        <result column="INITIAL" property="initial"/>
        <result column="SCORE" property="score"/>
    </resultMap>
    <select id="stuList" parameterType="java.util.Map" resultMap="stuMap">
        select t.id,t.identity,t.name,t.birthday,t.mobile,t.parent,t.parentmobile,
            (select a.name from dictionary a where a.code =t.sex and a.lx = 'xb') sex,
            (select a.name from yuyi_evaluate_team a where a.id = t.team_id) team,
            (select b.grade from yuyi_evaluate_grade b where b.id = t.grade_id) grade,
            (select c.department from yuyi_evaluate_department c where c.id = t.department_id) department,
            (select d.specialty from yuyi_evaluate_specialty d where d.id = t.specialty_id) specialty,
            t.grade_id,t.department_id,t.specialty_id,t.team_id,card,nation
              from yuyi_evaluate_student t
              <where>
                  <if test="grade_id!=null and grade_id !=''">
                      and grade_id = #{grade_id}
                  </if>
                  <if test="department_id!=null and department_id !=''">
                      and department_id = #{department_id}
                  </if>
                  <if test="specialty_id!=null and specialty_id !=''">
                      and specialty_id = #{specialty_id}
                  </if>
                  <if test="team_id!=null and team_id !=''">
                      and team_id = #{team_id}
                  </if>
                  <if test="key!=null and key !=''">
                      and (t.name like #{key} or t.card like #{key})
                  </if>
              </where>
    </select>
    <select id="stuOne" parameterType="java.util.Map" resultMap="stuMap">
        select t.id,t.identity,t.name,t.birthday,t.mobile,t.parent,t.parentmobile,
        (select a.name from dictionary a where a.code =t.sex and a.lx = 'xb') sex,
        (select a.name from yuyi_evaluate_team a where a.id = t.team_id) team,
        (select b.grade from yuyi_evaluate_grade b where b.id = t.grade_id) grade,
        (select c.department from yuyi_evaluate_department c where c.id = t.department_id) department,
        (select d.specialty from yuyi_evaluate_specialty d where d.id = t.specialty_id) specialty,
        t.grade_id,t.department_id,t.specialty_id,t.team_id,origin
        from yuyi_evaluate_student t
        <where>
            id = #{id}
        </where>
    </select>
    <insert id="addStu" parameterType="java.util.Map">
      insert into yuyi_evaluate_student
          (identity, name, sex, birthday, nation, card, origin, mobile,
          team_id, grade_id, department_id, specialty_id, parent, parentmobile,
           address, password) VALUES
          (#{identity},#{name},#{sex},#{birthday},#{nation},#{card},#{origin},#{mobile},
          #{team_id},#{grade_id},#{department_id},#{specialty_id},#{parent},#{parentmobile},
          #{address},#{password})
    </insert>
    <update id="editStu" parameterType="java.util.Map">
        update yuyi_evaluate_student set identity =#{identity},name =#{name},sex =#{sex},
        birthday =#{birthday},nation =#{nation},card =#{card},origin =#{origin},mobile =#{mobile},
        team_id =#{team_id},grade_id =#{grade_id},department_id =#{department_id},specialty_id =#{specialty_id},
        identity =#{identity},parent =#{parent},parentmobile =#{parentmobile},address =#{address},password =#{password}
        where id =#{id}
    </update>
    <delete id="delStu" parameterType="java.util.Map">
        delete from yuyi_evaluate_student where id =#{id}
    </delete>
    <select id="existScore" parameterType="java.util.Map" resultMap="socreMap">
        select id,student_id,term_id,criterion_id,score from yuyi_evaluate_score where student_id =#{student_id}
                                                   and term_id =#{term_id}
                                                   and criterion_id = #{criterion_id}
    </select>
    <insert id="addScore" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
          insert into yuyi_evaluate_score (student_id, term_id, criterion_id, score)
                                  VALUES (#{student_id},#{term_id},#{criterion_id},#{score})
    </insert>
    <insert id="addScoreSingle" parameterType="java.util.Map" >
          insert into yuyi_evaluate_score_single (score_id, single, bz)
                                  values (#{score_id},#{score},#{bz})
    </insert>
    <update id="editScore" parameterType="java.util.Map">
        <if test="type==0">
            update yuyi_evaluate_score set score = score+#{score} where id =#{score_id}
        </if>
        <if test="type==1">
            update yuyi_evaluate_score set score = score-#{score} where id =#{score_id}
        </if>
    </update>
    <select id="quotaList" parameterType="java.util.Map" resultMap="quotaList">
        select t.id,t.parent_id,t.name,t.weight,t.standard,t.type,t.initial
                from yuyi_evaluate_criterion t
                where t.parent_id = #{parent_id}
    </select>
    <select id="quotaList2" parameterType="java.util.Map" resultMap="quotaList">
        select t1.*,t2.score from (select t.id,t.parent_id,t.name,t.weight,t.standard,t.type,t.initial
                from yuyi_evaluate_criterion t
                where t.parent_id = #{parent_id}) t1,yuyi_evaluate_score t2
           where t2.student_id = #{student_id}
             and t2.term_id = #{term_id}
             and t2.criterion_id = t1.id
    </select>
</mapper>
