<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.mapper.SystemMapper">
    <resultMap id="usersList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="FIRST_NAME" property="first_name"/>
        <result column="LOGIN" property="login"/>
        <result column="EMAIL" property="email"/>
        <result column="ROLE_ID" property="role_id"/>
        <result column="LAST_LOGIN" property="last_login"/>
        <result column="ROLENAME" property="rolename"/>
        <result column="DEPARTMENT_ID" property="department_id"/>
        <result column="DEPARTMENT" property="department"/>
    </resultMap>
    <resultMap id="roleList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>
    <select id="usersList" parameterType="java.util.Map" resultMap="usersList">
        select * from (select t.id,t.first_name,t.login,t.email,t.role_id,date_format(last_login, '%Y%m%d%H%i%s') last_login,
		(select  a.name from yuyi_evaluate_user_roles a where a.id = t.role_id) rolename,
		t.department_id,
		(select b.department from yuyi_evaluate_department b where b.id = t.department_id) department
		from yuyi_evaluate_users t ) t
		<where>
            <if test="role_id!=null and role_id!=''">
                and t.role_id =#{role_id}
            </if>
            <if test="(kssj!=null and kssj!='') and (jssj!=null and jssj!='')">
                and t.last_login between #{kssj} and #{jssj}
            </if>
            <if test="(kssj!=null and kssj!='') and (jssj==null or jssj=='')">
                and t.last_login &gt; kssj
            </if>
            <if test="(kssj==null or kssj=='') and (jssj!=null and jssj!='')">
                and t.last_login &lt; kssj
            </if>
        </where>
    </select>
    <insert id="addUsers" parameterType="java.util.Map">
        insert into yuyi_evaluate_users
            (first_name, login, password, role_id,img)
         values (#{first_name},#{login},#{password},#{role_id},#{url})
    </insert>
    <select id="existUser" parameterType="java.util.Map" resultType="int">
        select count(*) from yuyi_evaluate_users where login = #{login}
    </select>
    <update id="editUsersPas" parameterType="java.util.Map">
        update yuyi_evaluate_users set password = #{password} where id =#{id}
    </update>
    <update id="editUsersRole" parameterType="java.util.Map">
        update yuyi_evaluate_users set first_name = #{first_name},role_id={role_id} where id =#{id}
    </update>
    <delete id="delUsers" parameterType="java.util.Map">
        delete from yuyi_evaluate_users where id =#{id}
    </delete>
    <select id="roleList" parameterType="java.util.Map" resultMap="roleList">
        select t.id,t.name,t.description from yuyi_evaluate_user_roles t where t.is_system ='0'
    </select>
</mapper>
